<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- Use column labels for result set -->
        <setting name="useColumnLabel" value="true"/>
        <!-- Use JDBC generated keys -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- Map underscore to camelCase -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Default executor type -->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!-- Statement timeout in seconds -->
        <setting name="defaultStatementTimeout" value="25"/>
        <!-- Enable lazy loading -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- Aggressive lazy loading -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
</configuration>
