<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.asset.mapper.AssetHouseMapper">

    <resultMap type="com.ruoyi.asset.domain.entity.AssetHouse" id="AssetHouseResult">
        <id property="assetId" column="asset_id"/>
        <result property="buildingArea" column="building_area"/>
        <result property="innerArea" column="inner_area"/>
        <result property="houseType" column="house_type"/>
        <result property="houseUsage" column="house_usage"/>
        <result property="currentUsage" column="current_usage"/>
        <result property="currentUser" column="current_user"/>
        <result property="contractNo" column="contract_no"/>
        <result property="rentUnitPrice" column="rent_unit_price"/>
        <result property="rentTotal" column="rent_total"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectAssetHouseVo">
        select asset_id, building_area, inner_area, house_type, house_usage, current_usage,
               current_user, contract_no, rent_unit_price, rent_total,
               create_by, create_time, update_by, update_time
        from t_asset_house
    </sql>

    <select id="selectByAssetId" parameterType="Long" resultMap="AssetHouseResult">
        <include refid="selectAssetHouseVo"/>
        where asset_id = #{assetId}
    </select>

    <delete id="deleteByAssetId" parameterType="Long">
        delete from t_asset_house
        where asset_id = #{assetId}
    </delete>

</mapper>
